<form id="enter_number" action="/message" method="POST">
  <p>Enter your phone number:</p>
  <p><input type="text" name="phone_number" id="phone_number" /></p>
  <p><input type="submit" name="submit" value="Register" /></p>
</form>