#sinatra_authentication

.row
  .span12
    %form{ :action => "/login", :method => "post"}
      %h1= 'Login'
      %br
      %input.form-input{:id => "user_email", :name => "email", :type => "text", :size => "20", :placeholder => "Email"}
      %br
      %input.form-input{:id => "user_password", :name => "password", :type => "password", :size => "20",:placeholder => "Password", :value => ""}
      %br
      %br
      %input.btn.btn-primary{ :name => "submit", :type => "submit", :value => "Login"}