
#sinatra_authentication
.row
  .span12
    %form{ :action => "/signup", :method => "post"}
      %h1= 'Sign Up'
      %br
      %input.form-input{:id => "user_email", :name => "user[email]", :type => "text", :size => "20", :placeholder => "Email"}
      %br
      %input.form-input{:id => "user_password", :name => "user[password]", :type => "password", :size => "20",:placeholder => "Password"}
      %br
      %input.form-input{ :id => "user_password_confirmation", :name => "user[password_confirmation]", :type => "password", :size => "30", :placeholder => "Confirm Password"}
      %br
      %br
      %input.btn.btn-primary{ :name => "submit", :type => "submit", :value => "Sign up"}