%p Are you sure you want to delete:
%blockquote
  %p
    = @employee.firstname
    = @employee.lastname
%form{:action => "/employees/#{@employee.id}/delete/", :method => "POST"}
  %input{:name => "_method", :type => "hidden", :value => "delete"}/
  %input.btn.btn-primary{:type => "submit", :value => "Delete"}/
  or
  %a{:href => "/"} Cancel