%h1 Edit Employee
%form{:action => "/employees/#{@employee.id}", :method => "post"}
  %input{:name => "_method", :type => "hidden", :value => "put"}/
  %input#firstname.input-xlarge{:name => "firstname", :placeholder => "Employee first name", :type => "text", :value => @employee.firstname}/
  %input#lastname.input-xlarge{:name => "lastname", :placeholder => "Employee last name", :type => "text", :value => @employee.lastname}/
  %input#phone.input-xlarge{:name => "phone", :placeholder => "Employee phone number", :type => "text", :value => @employee.phone}/
  %input.btn.btn-primary{:type => "submit", :value => "Edit Employee"}/
%td