%h3 Edit Employee
%form.form-inline{:action => "/employees/#{@employee.id}", :method => "post"}
  %input{:name => "_method", :type => "hidden", :value => "put"}/
  %input#firstname.form-control{:name => "firstname", :placeholder => "Employee first name", :type => "text", :value => @employee.firstname}/
  %input#lastname.form-control{:name => "lastname", :placeholder => "Employee last name", :type => "text", :value => @employee.lastname}/
  %input#phone.form-control{:name => "phone", :placeholder => "Employee phone number", :type => "text", :value => @employee.phone}/
  %input#phone.form-control{:name => "email", :placeholder => "Employee email address", :type => "text", :value => @employee.email}/
  %input.btn.btn-primary{:type => "submit", :value => "Edit Employee"}/
%td