%h3 New Employee
%form.form-inline{:action => "/employees", :method => "POST"}
  %input#firstname.form-control{:name => "firstname", :placeholder => "Employee first name", :type => "text"}/
  %input#lastname.form-control{:name => "lastname", :placeholder => "Employee last name", :type => "text"}/
  %input#phone.input-xlarge{:name => "phone", :placeholder => "Employee phone number", :type => "text"}/
  %button.btn.btn-primary{:type => "submit"} Add Employee