%h1 Contact persons found
.row
  .span12
    %ul.thumbnails
      %hr.colorgraph/
      - @results.each do |result|
        %li.span5.clearfix
          .thumbnail.clearfix
            %img.pull-left.span2.clearfix{:alt => "ALT NAME", :src => "http://placehold.it/100x100", :style => "margin-right:10px"}/
            .caption
              %form#enter_number{:action => "/message", :method => "POST"}
                %input#phone_number{:name => "phone_number", :type => "hidden", :value => result.phone}/
                %input.btn.btn-primary.icon.pull-right{:type => "submit", :value => "Contact"}/
              %h4
                #{result[:lastname]} #{result[:firstname]}
              %small
                %b> Title:
      %hr.colorgraph/
%a.btn.btn-primary.icon.pull-right{:href => "/employees/search"} New search