%h1 Edit Company
%form{:action => "/companies/#{@company.id}", :method => "post"}
  %input{:name => "_method", :type => "hidden", :value => "put"}/
  %input#firstname.input-xlarge{:name => "name", :placeholder => "Company name", :type => "text", :value => @company.name}/ 
  %input.btn.btn-primary{:type => "submit", :value => "Edit Company"}/
%td