%h1 New Company
%form.form-inline{:action => "/companies", :method => "POST"}
  %input#firstname.input-xlarge{:name => "name", :placeholder => "Company name", :type => "text"}/
  %button.btn.btn-primary{:type => "submit"} Add Company