%h1 New Company
%hr
%form.form-inline{:action => "/companies", :method => "POST"}
  %input#firstname.form-control{:name => "name", :placeholder => "Company name", :type => "text"}/
  %input.btn.btn-primary{:type => "submit", :value => "Add Company"}/
