<% if @results %>
    <table>
        <%@results.each do |r|%>
        <tr valign="top">
            <td><%=r.lastname%><%=r.firstname%><%=r.phone%></td>
        </tr>
        <%end%>
    </table>
<% end %>