%h3 Contact persons found
%hr
.row
  .col-lg-4.col-lg-offset-14
    %input#search.form-control{:placeholder => "Search", :type => "search", :value => ""}/
%hr
.row
  .col-lg-12
    %table.table.table-condensed#table.table
      %thead
        %tr
          %th Naam
          %th Acties
      %tbody
        - @results.employees.each do |result|
          %tr
            %td= result.firstname + " " + result.lastname
            %td
              %form#enter_number{:action => "/message", :method => "POST"}
                %input#phone_number{:name => "phone_number", :type => "hidden", :value => result.phone}/
                %input#phone_number{:name => "email", :type => "hidden", :value => result.email}/
                %input.btn.btn-primary.icon.pull-right{:type => "submit", :value => "Contact"}/

    %hr/
