
.pagespan.container
  .wrap
    %h2
      Basic
      %small - with all the navigation options enabled
    .scrollbar
      .handle
        .mousearea
    #basic.frame
      %ul.clearfix
        %li 0
        %li 1
        %li 2
        %li 3
        %li 4
        %li 5
        %li 6
        %li 7
        %li 8
        %li 9
        %li 10
        %li 11
        %li 12
        %li 13
        %li 14
        %li 15
        %li 16
        %li 17
        %li 18
        %li 19
        %li 20
        %li 21
        %li 22
        %li 23
        %li 24
        %li 25
        %li 26
        %li 27
        %li 28
        %li 29
    %ul.pages
    .controls.center
      %button.btn.prevPage
        %i.icon-chevron-left
        %i.icon-chevron-left
        page
      %button.btn.prev
        %i.icon-chevron-left
        item
      %button.btn.backward
        %i.icon-chevron-left
        move
      .btn-group
        %button.btn.toStart toStart
        %button.btn.toCenter toCenter
        %button.btn.toEnd toEnd
      .btn-group
        %button.btn.toStart{"data-item" => "10"}
          %strong 10
          toStart
        %button.btn.toCenter{"data-item" => "10"}
          %strong 10
          toCenter
        %button.btn.toEnd{"data-item" => "10"}
          %strong 10
          toEnd
      .btn-group
        %button.btn.add
          %i.icon-plus-sign
        %button.btn.remove
          %i.icon-minus-sign
      %button.btn.forward
        move
        %i.icon-chevron-right
      %button.btn.next
        item
        %i.icon-chevron-right
      %button.btn.nextPage
        page
        %i.icon-chevron-right
        %i.icon-chevron-right
  .wrap
    %h2
      Centered
      %small - activated or middle item is centered when possible
    .scrollbar
      .handle
        .mousearea
    #centered.frame
      %ul.clearfix
        %li 0
        %li 1
        %li 2
        %li 3
        %li 4
        %li 5
        %li 6
        %li 7
        %li 8
        %li 9
        %li 10
        %li 11
        %li 12
        %li 13
        %li 14
        %li 15
        %li 16
        %li 17
        %li 18
        %li 19
        %li 20
        %li 21
        %li 22
        %li 23
        %li 24
        %li 25
        %li 26
        %li 27
        %li 28
        %li 29
    .controls.center
      %button.btn.prev
        %i.icon-chevron-left
        prev
      %button.btn.next
        next
        %i.icon-chevron-right
  .wrap
    %h2
      Force Centered
      %small - active item is always centered, and middle item is always activated
    .scrollbar
      .handle
        .mousearea
    #forcecentered.frame
      %ul.clearfix
        %li 0
        %li 1
        %li 2
        %li 3
        %li 4
        %li 5
        %li 6
        %li 7
        %li 8
        %li 9
        %li 10
        %li 11
        %li 12
        %li 13
        %li 14
        %li 15
        %li 16
        %li 17
        %li 18
        %li 19
        %li 20
        %li 21
        %li 22
        %li 23
        %li 24
        %li 25
        %li 26
        %li 27
        %li 28
        %li 29
    .controls.center
      %button.btn.prev
        %i.icon-chevron-left
        prev
      %button.btn.next
        next
        %i.icon-chevron-right
  .wrap
    %h2
      Cycling by items
      %small - 1 second interval, enabled pause on hover
    .scrollbar
      .handle
        .mousearea
    #cycleitems.frame
      %ul.clearfix
        %li 0
        %li 1
        %li 2
        %li 3
        %li 4
        %li 5
        %li 6
        %li 7
        %li 8
        %li 9
        %li 10
        %li 11
        %li 12
        %li 13
        %li 14
        %li 15
        %li 16
        %li 17
        %li 18
        %li 19
        %li 20
        %li 21
        %li 22
        %li 23
        %li 24
        %li 25
        %li 26
        %li 27
        %li 28
        %li 29
    .controls.center
      %button.btn.prev
        %i.icon-chevron-left
        prev
      .btn-group
        %button.btn.pause
          %i.icon-pause
          pause
        %button.btn.resume
          %i.icon-play
          resume
        %button.btn.toggle
          %i.icon-pause
          toggle
      %button.btn.next
        next
        %i.icon-chevron-right
  .wrap
    %h2
      Cycling by pages
      %small - starts paused, 1 second interval, enabled pause on hover
    .scrollbar
      .handle
        .mousearea
    #cyclepages.frame
      %ul.clearfix
        %li 0
        %li 1
        %li 2
        %li 3
        %li 4
        %li 5
        %li 6
        %li 7
        %li 8
        %li 9
        %li 10
        %li 11
        %li 12
        %li 13
        %li 14
        %li 15
        %li 16
        %li 17
        %li 18
        %li 19
        %li 20
        %li 21
        %li 22
        %li 23
        %li 24
        %li 25
        %li 26
        %li 27
        %li 28
        %li 29
    %ul.pages
    .controls.center
      %button.btn.prevPage
        %i.icon-chevron-left
        %i.icon-chevron-left
        page
      .btn-group
        %button.btn.pause
          %i.icon-pause
          pause
        %button.btn.resume
          %i.icon-play
          resume
        %button.btn.toggle
          %i.icon-pause
          toggle
      %button.btn.nextPage
        page
        %i.icon-chevron-right
        %i.icon-chevron-right
  .wrap
    %h2 One item per frame
    .scrollbar
      .handle
        .mousearea
    #oneperframe.frame.oneperframe
      %ul.clearfix
        %li 0
        %li 1
        %li 2
        %li 3
        %li 4
        %li 5
        %li 6
        %li 7
        %li 8
        %li 9
        %li 10
        %li 11
        %li 12
        %li 13
        %li 14
        %li 15
    .controls.center
      %button.btn.prev
        %i.icon-chevron-left
        prev
      %button.btn.next
        next
        %i.icon-chevron-right
  .wrap
    %h2
      Now I'm just goofing around
      %small - uses CSS 3D transforms & transitions
    .scrollbar
      .handle
        .mousearea
    #effects.frame.effects
      %ul.clearfix
        %li 0
        %li 1
        %li 2
        %li 3
        %li 4
        %li 5
        %li 6
        %li 7
        %li 8
        %li 9
        %li 10
        %li 11
        %li 12
        %li 13
        %li 14
        %li 15
        %li 16
        %li 17
        %li 18
        %li 19
        %li 20
        %li 21
        %li 22
        %li 23
        %li 24
        %li 25
        %li 26
        %li 27
        %li 28
        %li 29
    .controls.center
      %button.btn.prev
        %i.icon-chevron-left
        prev
      %button.btn.next
        next
        %i.icon-chevron-right
  .wrap
    %h2
      Crazy
      %small - smart navigation with each item having a different size and margins
    .scrollbar
      .handle
        .mousearea
    #crazy.frame.crazy
      %ul.clearfix
        %li 0
        %li 1
        %li 2
        %li 3
        %li 4
        %li 5
        %li 6
        %li 7
        %li 8
        %li 9
        %li 10
        %li 11
        %li 12
        %li 13
        %li 14
        %li 15
        %li 16
        %li 17
        %li 18
        %li 19
        %li 20
        %li 21
        %li 22
        %li 23
        %li 24
        %li 25
        %li 26
        %li 27
        %li 28
        %li 29
    %ul.pages
    .controls.center
      %button.btn.prevPage
        %i.icon-chevron-left
        %i.icon-chevron-left
        page
      %button.btn.prev
        %i.icon-chevron-left
        prev
      %button.btn.backward
        %i.icon-chevron-left
        move
      .btn-group
        %button.btn.toStart toStart
        %button.btn.toCenter toCenter
        %button.btn.toEnd toEnd
      .btn-group
        %button.btn.toStart{"data-item" => "10"}
          %strong 10
          toStart
        %button.btn.toCenter{"data-item" => "10"}
          %strong 10
          toCenter
        %button.btn.toEnd{"data-item" => "10"}
          %strong 10
          toEnd
      .btn-group
        %button.btn.add
          %i.icon-plus-sign
        %button.btn.remove
          %i.icon-minus-sign
      %button.btn.forward
        move
        %i.icon-chevron-right
      %button.btn.next
        next
        %i.icon-chevron-right
      %button.btn.nextPage
        page
        %i.icon-chevron-right
        %i.icon-chevron-right
